# Ignore everything
*

# Allow CelebA folder
!CelebA/

# Allow metadata
!CelebA/metadata.json

# Allow cluster sets
!CelebA/set_01/
!CelebA/set_01/paths.json
!CelebA/set_01/centroids.json

# Allow subset images
!CelebA/images/
!CelebA/images/*.jpg

# Keep .gitignore itself
!.gitignore